{{!-- <h2 class="page-title">All Compositions</h2> --}}
<span class="page-title">Compositions</span>
<ul class="composition-list">
    {{#each compositions as |comp|}}
    <li>
        {{> comp-info comp }}
    </li>
    {{/each}}
</ul>