{{!-- <h2 class="page-title">All Instruments</h2> --}}
<span class="page-title">All Instruments</span>
<ul class="instrument-list">
    {{!-- {{ log people }} --}}
    {{#each instruments as |instruments|}}
    <li>
        {{> instrument-info instruments}}
    </li>
    {{/each}}
</ul>