body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 1rem auto;
}

ul {
    /* list-style: none; */
}

.comp {
    margin-bottom: 1rem;
}

.username {
    font-weight: bold;
}